<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <script>
            $(document).ready(function () {
                $('.message .close')
                    .on('click', function () {
                        $(this)
                            .closest('.message')
                            .transition('fade')
                        ;
                    });
                $('#dest_project').dropdown();

                $('#hosts_list').dropdown({
                    action: 'nothing',
                    fullTextSearch: "exact",
                    sortSelect: true
                });
                $('#hostnames_list').dropdown({
                    action: 'nothing',
                    fullTextSearch: "exact",
                    sortSelect: true
                });
                $('#issues_list').dropdown({
                    action: 'nothing',
                    fullTextSearch: "exact",
                    sortSelect: true
                });
                $('#notes_list').dropdown({
                    action: 'nothing',
                    fullTextSearch: "exact",
                    sortSelect: true
                });
                $('#creds_list').dropdown({
                    action: 'nothing',
                    fullTextSearch: "exact",
                    sortSelect: true
                });
                $('#networks_list').dropdown({
                    action: 'nothing',
                    fullTextSearch: "exact",
                    sortSelect: true
                });
                $('#files_list').dropdown({
                    action: 'nothing',
                    fullTextSearch: "exact",
                    sortSelect: true
                });
                $('#host_notes_list').dropdown({
                    action: 'nothing',
                    fullTextSearch: "exact",
                    sortSelect: true
                });

                $('.ui.checkbox').checkbox();

                const checkbox_hosts = document.getElementById('all_hosts_checkbox')

                checkbox_hosts.addEventListener('change', (event) => {
                    elements = document.querySelectorAll('[id=host_checkbox]');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].checked = event.currentTarget.checked;
                    }
                })

                const checkbox_hostnames = document.getElementById('all_hostnames_checkbox')

                checkbox_hostnames.addEventListener('change', (event) => {
                    elements = document.querySelectorAll('[id=hostname_checkbox]');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].checked = event.currentTarget.checked;
                    }
                })

                const checkbox_issues = document.getElementById('all_issues_checkbox')

                checkbox_issues.addEventListener('change', (event) => {
                    elements = document.querySelectorAll('[id=issue_checkbox]');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].checked = event.currentTarget.checked;
                    }
                })

                const checkbox_files = document.getElementById('all_files_checkbox')

                checkbox_files.addEventListener('change', (event) => {
                    elements = document.querySelectorAll('[id=file_checkbox]');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].checked = event.currentTarget.checked;
                    }
                })

                const checkbox_creds = document.getElementById('all_creds_checkbox')

                checkbox_creds.addEventListener('change', (event) => {
                    elements = document.querySelectorAll('[id=cred_checkbox]');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].checked = event.currentTarget.checked;
                    }
                })

                const checkbox_notes = document.getElementById('all_notes_checkbox')

                checkbox_notes.addEventListener('change', (event) => {
                    elements = document.querySelectorAll('[id=note_checkbox]');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].checked = event.currentTarget.checked;
                    }
                })

                const checkbox_host_notes = document.getElementById('all_host_notes_checkbox')

                checkbox_host_notes.addEventListener('change', (event) => {
                    elements = document.querySelectorAll('[id=host_note_checkbox]');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].checked = event.currentTarget.checked;
                    }
                })

                const checkbox_networks = document.getElementById('all_networks_checkbox')

                checkbox_networks.addEventListener('change', (event) => {
                    elements = document.querySelectorAll('[id=network_checkbox]');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].checked = event.currentTarget.checked;
                    }
                })

            });

        </script>

        <style>
            .dropdown_width {
                min-width: 0px;
                width: 100%;
            }

            .ui.dropdown.search {
                min-width: 0px;
            }
        </style>
        <div class="ui column" style="width: calc(100% - 75px)">
            <h1 class="ui dividing header">Duplicator</h1>
            <div class="ui container" style="width: 100%">
                <div class="ui relaxed divided items">
                    <div class="item">
                        <div class="ui small image">
                            {% if external_img %}
                                <img src="https://i.ibb.co/60mxMk6/duplicate-icon-png-40237.png">
                            {% else %}
                                <img src="/static/images/copy.png">
                            {% endif %}
                        </div>
                        <div class="content">
                            <a class="header">Duplicator</a>
                            <div class="meta">
                                <a>System tool</a>
                            </div>
                            <div class="description">
                                Copy project settings to another PCF project: hosts, hostnames, issues, files, notes, testers, credentials.
                            </div>
                            <div class="extra">
                                <a href="https://gitlab.com/invuls/pentest-projects/pcf/-/wikis/Tools%20usage" class="ui right floated purple button" target="_blank" rel="noopener noreferrer">
                                    Wiki
                                    <i class="right chevron icon"></i>
                                </a>
                                <div class="ui label">Opensource</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <h2 class="ui header">Copy options</h2>
                {% if errors is defined and errors %}
                    <div class="ui error message visible">
                        <i class="close icon"></i>
                        <div class="header">
                            There were some errors with host
                        </div>
                        <ul class="list">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% elif errors is defined and not errors %}
                    <div class="ui success message visible">
                        <i class="close icon"></i>
                        <div class="header">
                            Successfully uploaded!
                        </div>
                    </div>
                {% endif %}
                <form method="post" action="/project/{{ current_project['id'] }}/tools/duplicator/">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="ui grid">
                        <div class="ui three column row" style="height: 390px;">
                            <div class="column">
                                <h3 class="ui header">Project options</h3>
                                <div class="ui field" style="width:90%;">
                                    <div class="ui labeled input" style="width: 100%">
                                        <div class="ui label">
                                            <i class="travel icon"></i>Destination project:
                                        </div>
                                        <select class="ui dropdown scrolling selection search dropdown_width" name="destination_project" id="dest_project" style="width: 100%; min-width: 0px;" required>
                                            <option value="">...</option>
                                            {% set projects = db.select_user_projects(session['id'])[::-1] %}
                                            {% for project in projects %}
                                                {% if project['id'] != current_project['id'] %}
                                                    {% if project['status']==1 %}
                                                        {% if not (project['auto_archive']==1 and project['end_date']< time()) %}
                                                            <option value="{{ project['id'] }}">{{ escape(project['name']) }}</option>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="ui field" style="margin-top: 1em; width:90%;">
                                    <div class="ui labeled input" style="width:100%">
                                        <div class="ui label" style="width: 173px;">
                                            <i class="clock outline icon"></i>Copy deadline:
                                        </div>
                                        <div class="ui segment" style="margin: 0px; padding: 0px; width:100%">
                                            <div class="ui fitted toggle checkbox" style="margin-top: 8px; margin-left: auto;margin-right: auto;display: block;">
                                                <input type="checkbox" name="copy_deadline" value="1">
                                                <label></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui field" style="margin-top: 1em; width:90%;">
                                    <div class="ui labeled input" style="width:100%">
                                        <div class="ui label" style="width: 173px;">
                                            <i class="crosshairs icon"></i>Copy scope:
                                        </div>
                                        <div class="ui segment" style="margin: 0px; padding: 0px; width:100%">
                                            <div class="ui fitted toggle checkbox" style="margin-top: 8px; margin-left: auto;margin-right: auto;display: block;">
                                                <input type="checkbox" name="copy_scope" value="1">
                                                <label></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui field" style="margin-top: 1em; width:90%;">
                                    <div class="ui labeled input" style="width:100%">
                                        <div class="ui label" style="width: 173px;">
                                            <i class="users icon"></i>Copy teams:
                                        </div>
                                        <div class="ui segment" style="margin: 0px; padding: 0px; width:100%">
                                            <div class="ui fitted toggle checkbox" style="margin-top: 8px; margin-left: auto;margin-right: auto;display: block;">
                                                <input type="checkbox" name="copy_teams" value="1">
                                                <label></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui field" style="margin-top: 1em; width:90%;">
                                    <div class="ui labeled input" style="width:100%">
                                        <div class="ui label" style="width: 173px;">
                                            <i class="user icon"></i>Copy members:
                                        </div>
                                        <div class="ui segment" style="margin: 0px; padding: 0px; width:100%">
                                            <div class="ui fitted toggle checkbox" style="margin-top: 8px; margin-left: auto;margin-right: auto;display: block;">
                                                <input type="checkbox" name="copy_users" value="1">
                                                <label></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui field" style="margin-top: 1em; width:90%;">
                                    <div class="ui labeled input" style="width:100%">
                                        <div class="ui label" style="width: 173px;">
                                            <i class="sticky note outline icon"></i>Copy description:
                                        </div>
                                        <div class="ui segment" style="margin: 0px; padding: 0px; width:100%">
                                            <div class="ui fitted toggle checkbox" style="margin-top: 8px; margin-left: auto;margin-right: auto;display: block;">
                                                <input type="checkbox" name="copy_info" value="1">
                                                <label></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <h3 class="ui header"><i class="server large icon"></i>Hosts</h3>
                                <div class="ui dropdown" id="hosts_list" style="width: 100%">
                                    <div class="menu transition visible" style="width: 90%; position: unset; min-width: 90%;">
                                        <div class="ui icon search input" style="width:calc(100% - 20px)">
                                            <i class="search icon"></i>
                                            <input type="text" name="Search" placeholder="Search&hellip;">
                                        </div>
                                        <div class="scrolling menu" style="height:225px; overflow: auto;">
                                            <div class="ui item checkbox" style="margin-top:0px">
                                                <input type="checkbox" id="all_hosts_checkbox">
                                                <label><b>Select All</b></label>
                                            </div>
                                            {% set hosts = db.select_project_hosts(current_project['id']) %}
                                            {% for host in hosts %}
                                                <div class="ui item checkbox" style="margin-top:0px">
                                                    <input type="checkbox" name="hosts" value="{{ escape(host['id']) }}" id="host_checkbox">
                                                    <label>{{ escape(host['ip']) }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <h3 class="ui header"><i class="server large icon"></i>Hostnames</h3>
                                <div class="ui dropdown" id="hostnames_list" style="width: 100%; min-width: 90%">
                                    <div class="menu transition visible" style="width: 90%; position: unset;min-width: 90%;">
                                        <div class="ui icon search input" style="width:calc(100% - 20px)">
                                            <i class="search icon"></i>
                                            <input type="text" name="Search" placeholder="Search&hellip;">
                                        </div>
                                        <div class="scrolling menu" style="height:225px; overflow: auto;">
                                            <div class="ui item checkbox" style="margin-top:0px">
                                                <input type="checkbox" id="all_hostnames_checkbox">
                                                <label><b>Select All</b></label>
                                            </div>
                                            {% set hostnames = db.select_project_hostnames(current_project['id']) %}
                                            {% for hostname in hostnames %}
                                                <div class="ui item checkbox" style="margin-top:0px;">
                                                    <input type="checkbox" name="hosts" value="{{ escape(hostname['host_id']) }}" id="hostname_checkbox">
                                                    <label>{{ escape(hostname['hostname']) }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui three column row" style="height: 390px;">
                            <div class="column">
                                <h3 class="ui header"><i class="bug large icon"></i>Issues</h3>
                                <div class="ui dropdown" id="issues_list" style="width: 100%">
                                    <div class="menu transition visible" style="width: 90%; position: unset; min-width: 90%;">
                                        <div class="ui icon search input" style="width:calc(100% - 20px)">
                                            <i class="search icon"></i>
                                            <input type="text" name="Search" placeholder="Search&hellip;">
                                        </div>
                                        <div class="scrolling menu" style="height:225px; overflow: auto;">
                                            <div class="ui item checkbox" style="margin-top:0px">
                                                <input type="checkbox" id="all_issues_checkbox">
                                                <label><b>Select All</b></label>
                                            </div>
                                            {% set issues = db.select_project_issues(current_project['id']) %}
                                            {% for issue in issues %}
                                                <div class="ui item checkbox" style="margin-top:0px">
                                                    <input type="checkbox" name="issues" value="{{ escape(issue['id']) }}" id="issue_checkbox">
                                                    <label>{{ escape(issue['name']) }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <h3 class="ui header"><i class="users large icon"></i>Credentials</h3>
                                <div class="ui dropdown" id="creds_list" style="width: 100%">
                                    <div class="menu transition visible" style="width: 90%; position: unset; min-width: 90%;">
                                        <div class="ui icon search input" style="width:calc(100% - 20px)">
                                            <i class="search icon"></i>
                                            <input type="text" name="Search" placeholder="Search&hellip;">
                                        </div>
                                        <div class="scrolling menu" style="height:225px; overflow: auto;">
                                            <div class="ui item checkbox" style="margin-top:0px">
                                                <input type="checkbox" id="all_creds_checkbox">
                                                <label><b>Select All</b></label>
                                            </div>
                                            {% set creds = db.select_project_creds(current_project['id']) %}
                                            {% for cred in creds %}
                                                <div class="ui item checkbox" style="margin-top:0px">
                                                    <input type="checkbox" name="creds" value="{{ escape(cred['id']) }}" id="cred_checkbox">
                                                    <label>{{ escape(cred['login']) }}:{% if cred['cleartext'] %}{{ escape(cred['cleartext']) }}{% else %}{{ escape(cred['hash']) }}{% endif %}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <h3 class="ui header"><i class="folder open large icon"></i>Files</h3>
                                <div class="ui dropdown" id="files_list" style="width: 100%">
                                    <div class="menu transition visible" style="width: 90%; position: unset; min-width: 90%;">
                                        <div class="ui icon search input" style="width:calc(100% - 20px)">
                                            <i class="search icon"></i>
                                            <input type="text" name="Search" placeholder="Search&hellip;">
                                        </div>
                                        <div class="scrolling menu" style="height:225px; overflow: auto;">
                                            <div class="ui item checkbox" style="margin-top:0px">
                                                <input type="checkbox" id="all_files_checkbox">
                                                <label><b>Select All</b></label>
                                            </div>
                                            {% set files = db.select_project_files(current_project['id']) %}
                                            {% for file in files %}
                                                <div class="ui item checkbox" style="margin-top:0px">
                                                    <input type="checkbox" name="files" value="{{ escape(file['id']) }}" id="file_checkbox">
                                                    <label>{{ escape(file['filename']) }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui three column row" style="height: 390px;">
                            <div class="column">
                                <h3 class="ui header"><i class="sitemap large icon"></i>Networks</h3>
                                <div class="ui dropdown" id="networks_list" style="width: 100%">
                                    <div class="menu transition visible" style="width: 90%; position: unset;min-width: 90%;">
                                        <div class="ui icon search input" style="width:calc(100% - 20px)">
                                            <i class="search icon"></i>
                                            <input type="text" name="Search" placeholder="Search&hellip;">
                                        </div>
                                        <div class="scrolling menu" style="height:225px; overflow: auto;">
                                            <div class="ui item checkbox" style="margin-top:0px">
                                                <input type="checkbox" id="all_networks_checkbox">
                                                <label><b>Select All</b></label>
                                            </div>
                                            {% set networks = db.select_project_networks(current_project['id']) %}
                                            {% for network in networks %}
                                                <div class="ui item checkbox" style="margin-top:0px">
                                                    <input type="checkbox" name="networks" value="{{ escape(network['id']) }}" id="network_checkbox">
                                                    <label>{{ escape(network['ip']) }}/{{ escape(network['mask']) }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <h3 class="ui header"><i class="sticky note outline large icon"></i>Host notes</h3>
                                <div class="ui dropdown" id="host_notes_list" style="width: 100%">
                                    <div class="menu transition visible" style="width: 90%; position: unset;min-width: 90%;">
                                        <div class="ui icon search input" style="width:calc(100% - 20px)">
                                            <i class="search icon"></i>
                                            <input type="text" name="Search" placeholder="Search&hellip;">
                                        </div>
                                        <div class="scrolling menu" style="height:225px; overflow: auto;">
                                            <div class="ui item checkbox" style="margin-top:0px">
                                                <input type="checkbox" id="all_host_notes_checkbox">
                                                <label><b>Select All</b></label>
                                            </div>
                                            {% set notes = db.select_project_host_notes(current_project['id']) %}
                                            {% for note_host in notes %}
                                                <div class="ui item checkbox" style="margin-top:0px">
                                                    <input type="checkbox" name="note_hosts" value="{{ escape(note_host['id']) }}" id="host_note_checkbox">
                                                    <label>{{ escape(note_host['ip']) }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <h3 class="ui header"><i class="sticky note outline large icon"></i>Project notes</h3>
                                <div class="ui dropdown" id="notes_list" style="width: 100%">
                                    <div class="menu transition visible" style="width: 90%; position: unset;min-width: 90%;">
                                        <div class="ui icon search input" style="width:calc(100% - 20px)">
                                            <i class="search icon"></i>
                                            <input type="text" name="Search" placeholder="Search&hellip;">
                                        </div>
                                        <div class="scrolling menu" style="height:225px; overflow: auto;">
                                            <div class="ui item checkbox" style="margin-top:0px">
                                                <input type="checkbox" id="all_notes_checkbox">
                                                <label><b>Select All</b></label>
                                            </div>
                                            {% set notes = db.select_project_notes(current_project['id']) %}
                                            {% for note in notes %}
                                                <div class="ui item checkbox" style="margin-top:0px">
                                                    <input type="checkbox" name="notes" value="{{ escape(note['id']) }}" id="note_checkbox">
                                                    <label>{{ escape(note['name']) }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="ui orange button" type="submit">Copy</button>
                </form>

            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>