<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
{% include 'menu.html' %}
<div align="center" style="margin-top: 200px;">
    <i class="exclamation triangle massive icon"></i>
    <h1>500 PAGE</h1>
    <a class="ui button blue" href="javascript:history.back()"><i class="reply icon"></i>Return to previous page</a>
    <a class="ui button red" href="https://gitlab.com/invuls/pentest-projects/pcf/-/issues/new?issuable_template=Bug%20report" target="_blank" rel="noopener noreferrer"><i class="bug icon"></i>Report a bug</a>
</div>
{% include 'footer.html' %}
</body>
</html>